rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function checkUserRegistered(){
      return request.auth != null
        && request.auth.uid != null
        && request.auth.token.approved
        && (
          request.auth.token.lastTanawol == null
          || request.auth.token.lastConfession == null
          || (
            (request.auth.token.lastTanawol + 5184000000) > request.time.toMillis()
            && (request.auth.token.lastConfession + 5184000000) > request.time.toMillis()
          )
        );
    }
    
    match /ServicesPhotos/{any} {
      allow read, write: if checkUserRegistered();
    }

    match /ClassesPhotos/{any} {
      allow read, write: if checkUserRegistered();
    }

    match /PersonsPhotos/{any} {
      allow read, write: if checkUserRegistered();
    }

    match /UsersPhotos/{any} {
      allow read, write: if checkUserRegistered();
    }

    match /Deleted/{any=**} {
      allow read, write: if checkUserRegistered();
    }

    match /Exports/{any=**} {
      allow read: if checkUserRegistered()
        && resource.metadata.createdBy == request.auth.uid;
    }

    match /Imports/{any=**} {
      allow read, write: if checkUserRegistered();
    }
  }
}
